#JAVA
/target
/src/main/resources/webui
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# IDE - VSCode
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# WebUI dependencies
webui/node_modules/
webui/bower_components/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# misc
**/.sass-cache
**/npm-debug.log

# Directory created by dartdoc
webui/doc/api/

# WebUI Builds
tmp/

# compiled output
webui/dist
webui/tmp
webui/out-tsc


# System Files
.DS_Store
Thumbs.db

#Other File
mvnw
mvnw.cmd

